<mat-toolbar color="primary">
  <div class="logo-container">
    <mat-icon class="app-logo">workspace_premium</mat-icon>
    <span>Student Management</span>
  </div>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link routerLink="/students" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
    Students
  </a>
  <a mat-tab-link routerLink="/courses" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
    Courses
  </a>
</nav>

<div class="page-container">
  <router-outlet></router-outlet>
</div>
