.container {
  padding: 2rem;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.card-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.student-header {
  margin-bottom: 2rem;

  h1 {
    margin: 0;
  }

  p {
    color: grey;
  }
}

.enrollment-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
}
